.chartContainer {
  position: relative;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .chartContainer {
  position: relative;
  height: 40vh;
  width: 80vw;
  /* width: 100px; */
/* background-color: aquamarine; */
/* } */

/* .doughnut {
   position: absolute;
} */

.chartText {
  position: absolute;
  /* color: var(--pink-text, #ff6596); */

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 700;
}

.imgCurrency {
  /* width: 20px; */
  max-height: 10px;
}
