.statisticContainer {
  width: 87.5vw;
  font-family: 'Circe';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.select {
  margin-bottom: 20px;
  /* position: relative; */
}

.select select {
  /* position: relative; */

  /* display: block; */
  width: 100%;
  padding: 12px 21px 14px 21px;
  background: none;
  border: 1px solid #000;
  border-radius: 30px;
  font-family: 'Circe';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  overflow: hidden;
  background: url('./selector.svg') no-repeat center right;

  background-position-x: 95%;
}

select:first-child {
  margin-bottom: 20px;
}
select option {
  border: 2px red;
}

/* .statisticContainer {
  width: 700px;
  display: flex;
  /* justify-content: space-between; */
/* align-items: center;
  font-family: 'Circe';
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background-color: azure; 
} */
